<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body class="d-flex flex-column" style="min-height: 100vh;">

        <!-- HEADER -->
        <header th:replace="~{layout/plantilla :: header}"></header>

        <!-- CONTENIDO PRINCIPAL -->
        <main class="flex-grow-1 py-4">
            <div class="container">
                <h1>Agregar Nuevo Cliente</h1>
                <form action="/clientes/guardar" method="post">
                    <label>Cédula:</label>
                    <input type="text" name="cedula" th:value="${cliente?.cedula}" required>
                    <br><br>
                    <label>Nombre:</label>
                    <input type="text" name="nombreCliente" th:value="${cliente?.nombreCliente}" required>
                    <br><br>
                    <label>Primer Apellido:</label>
                    <input type="text" name="primerApellido" th:value="${cliente?.primerApellido}" required>
                    <br><br>
                    <label>Segundo Apellido:</label>
                    <input type="text" name="segundoApellido" th:value="${cliente?.segundoApellido}" required>
                    <br><br>
                    <button type="submit">Guardar</button>
                </form>
                <br>
                <a href="/clientes">Volver al listado</a>
            </div>
        </main>

        <!-- FOOTER -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>

    </body>
</html>