<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/plantilla :: head}">
    <title>Agregar Actividad</title>
</head>

<body>

<header th:replace="~{layout/plantilla :: header}"></header>

<div class="container mt-4">
    <h2 class="mb-4 text-center">Agregar Actividad</h2>

    <div th:if="${errorMensaje}" class="alert alert-danger text-center">
        <span th:text="${errorMensaje}"></span>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6">

           <form th:action="@{/actividad/guardar}" th:object="${actividad}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div class="mb-3">
        <label>ID Hotel</label>
        <input type="number" th:field="*{idHotel}" class="form-control" required/>
    </div>

    <div class="mb-3">
        <label>Nombre Actividad</label>
        <input type="text" th:field="*{nombre}" class="form-control" maxlength="100" required/>
    </div>

    <div class="mb-3">
        <label>Descripción</label>
        <textarea th:field="*{descripcion}" class="form-control" maxlength="200" required></textarea>
    </div>

    <div class="mb-3">
        <label>Capacidad</label>
        <input type="number" th:field="*{capacidad}" min="1" class="form-control" required/>
    </div>

    <div class="mb-3">
        <label>Ruta Imagen</label>
        <input type="text" th:field="*{rutaImagen}" class="form-control" maxlength="300"
               placeholder="Ej: images/actividad.jpg"/>
    </div>

    <div class="d-flex gap-2 justify-content-center">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i> Guardar
        </button>
        <a th:href="@{/actividad/listado}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Cancelar
        </a>
    </div>

</form>


        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<footer th:replace="~{layout/plantilla :: footer}"></footer>

</body>
</html>
